.free-hand-circle-label {
  padding: 1px 3px;
  line-height: normal;
  text-align: center;
  font-size: 12px;
  font-family: arial,simsun;
  border: 1px solid rgb(255, 1, 3);
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}
