.hmap-js-popup {
  display: none;
  position: absolute;
  background-color: white;
  padding: 15px 25px 15px 15px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50%;
  min-width: 100px;
  max-width: 400px;
  &:before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    content: '';
    display: inline-block;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 15px solid #c2c2c2;
    transform: translate(-50%, 0)
  }
;
  &:after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    content: '';
    display: inline-block;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 15px solid #ffffff;
    transform: translate(-50%, 0)
  }
  .hmap-js-popup-content {
    min-width: 100px;
    word-wrap: break-word;
    overflow-y: auto;
  }
  .hmap-js-popup-closer {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #000000;
    font-size: 30px;
    transform: rotate(45deg);
    &:hover {
      color: #00ccff;
      cursor: pointer;
    }
  }
  .hmap-js-popup-minimize {
    position: absolute;
    top: 0px;
    right: 40px;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #000000;
    font-size: 30px;
    &:hover {
      color: #00ccff;
      cursor: pointer;
    }
  }
}
.hmap-marker-minimize-panel {
  display: inline-block;
  width: 55px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  cursor: pointer;
  border: 1px solid rgb(128, 128, 128);
  padding: 1px 2px;
  white-space: nowrap;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  font-family: arial, simsun;
  color: rgb(51, 51, 51);
  -webkit-user-select: none;
  max-width: 106px;
  overflow: hidden;
  left: 10px;
  top: -35px;
  background-color: rgb(255, 255, 255);
  &:hover {
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
}

.overlay-point-content {
  .iconfont {
    span {
      position: absolute;
      left: 37%;
      top: 4px;
      font-size: 12px;
      color: #ffffff;
    }
  }
}
