.hmap-control-full-screen {
  position: absolute;
  right: .5em;
  top: .5em;
  width: 33px;
  height: 33px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  user-select: none;
}
