.hmap-control-zoom {
  bottom: .5em;
  right: .5em;
  button {
    display: block;
    margin: 0;
    padding: 0;
    color: #7c8196;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(255,255,255,1);
    border: none;
    border-radius: 2px;
    &:hover {
      cursor: pointer;
      color: #2c9eff;
    }
  }
  .ol-zoom-in {
    border-radius: 2px 2px 0 0;
  }
  .ol-zoom-out {
    border-radius: 0 0 2px 2px;
  }
}

.hmap-control-zoom button::-moz-focus-inner {
  border: none;
  padding: 0;
}
