.overlay-point-content {
  cursor: pointer;
  position: relative;
}

.overlay-point-content span {
  position: absolute;
  font-size: 13px;
  color: #ffffff;
  top: calc(50% - 13px);
  left: calc(50% - 4px);
}

.overlay-point-content span:after {
  content: "";
  width: 16px;
  height: 5px;
  top: 100%;
  left: 50%;
  transform: translate(-8px, -13px);
  -ms-transform: translate(-8px, -13px);
  /* IE 9 */
  -webkit-transform: translate(-8px, -13px);
  /* Safari and Chrome */
  position: absolute;
  display: none;
  background: #ccc;
  border-radius: 50% 50%;
}

.overlay-point-marker-raise {
  animation-name: overlay-point-marker-raise;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-in;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-raise {
  0% {
    transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
  }
  50% {
    transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -webkit-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -ms-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
  }
  80% {
    transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes overlay-point-marker-raise {
  0% {
    transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
  }
  50% {
    transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -webkit-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -ms-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
  }
  80% {
    transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
  }
}

.overlay-point-marker-red {
  animation-name: overlay-point-marker-red;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-out;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-red {
  0% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
  50% {
    box-shadow: 0 0 5px #e63c23,
    0px 0 2px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    0px 0 1px #e63c23,
    inset 0 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 28px #e63c23,
    inset 0 0 32px #e63c23;
  }
  100% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
}

@-webkit-keyframes overlay-point-marker-red {
  0% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
  50% {
    box-shadow: 0 0 5px #e63c23,
    0px 0 2px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    0px 0 1px #e63c23,
    inset 0 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 28px #e63c23,
    inset 0 0 32px #e63c23;
  }
  100% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
}

.overlay-point-marker-orange {
  animation-name: overlay-point-marker-orange;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-out;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-orange {
  0% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
  50% {
    box-shadow: 0 0 5px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 1px #ff9d15,
    inset 0 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 28px #ff9d15,
    inset 0 0 32px #ff9d15;
  }
  100% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
}

@-webkit-keyframes overlay-point-marker-orange {
  0% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
  50% {
    box-shadow: 0 0 5px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 1px #ff9d15,
    inset 0 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 28px #ff9d15,
    inset 0 0 32px #ff9d15;
  }
  100% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
}

.overlay-point-marker-yellow {
  animation-name: overlay-point-marker-yellow;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-out;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-yellow {
  0% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 18px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15,
    inset 0 0 8px #ffcb15;
  }
  50% {
    box-shadow: 0 0 8px #ffcb15,
    0px 0 4px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    0px 0 1px #ffcb15,
    inset 0 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 28px #ffcb15,
    inset 0 0 32px #ffcb15;
  }
  100% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 8px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15, inset 0 0 8px #ffcb15;
  }
}

@-webkit-keyframes overlay-point-marker-yellow {
  0% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 18px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15,
    inset 0 0 8px #ffcb15;
  }
  50% {
    box-shadow: 0 0 8px #ffcb15,
    0px 0 4px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    0px 0 1px #ffcb15,
    inset 0 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 28px #ffcb15,
    inset 0 0 32px #ffcb15;
  }
  100% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 8px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15, inset 0 0 8px #ffcb15;
  }
}

.overlay-point-marker-blue {
  animation-name: overlay-point-marker-blue;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-delay: .1s;
  animation-timing-function: ease-out;
}

@keyframes overlay-point-marker-blue {
  0% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
  50% {
    box-shadow: 0 0 3px rgba(27, 157, 232, 0.54),
    0px 0 2px rgba(27, 157, 232, 0.55),
    0px 0 2px #1b9de8,
    0px 0 1px #1b9de8,
    0px 0 1px rgba(0, 150, 136, 0.68),
    inset 0 0 0 #1b9de8,
    inset 0 0 9px #1b9de8,
    inset 0 0 28px #1b9de8,
    inset 0 0 32px #1b9de8;
  }
  100% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
}

@-webkit-keyframes overlay-point-marker-blue {
  0% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
  50% {
    box-shadow: 0 0 3px rgba(27, 157, 232, 0.54),
    0px 0 2px rgba(27, 157, 232, 0.55),
    0px 0 2px #1b9de8,
    0px 0 1px #1b9de8,
    0px 0 1px rgba(0, 150, 136, 0.68),
    inset 0 0 0 #1b9de8,
    inset 0 0 9px #1b9de8,
    inset 0 0 28px #1b9de8,
    inset 0 0 32px #1b9de8;
  }
  100% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
}