html, body {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

ul, li {
  list-style: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

.navbar-default {
  border: none;
  background-color: #1b9de8;
  z-index: 10000;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  height: 50px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-default .navbar-logo {
  height: 32px;
  margin-top: -6px;
  margin-left: -2px;
}

.navbar-default .navbar-collapse {
  border-top: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.navbar-collapse.collapse {
  display: block;
  height: auto;
  padding-bottom: 0;
  overflow: visible;
}

.navbar-default .navbar-nav {
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear
}

.navbar-default .navbar-nav li {
  position: relative
}

.navbar-default .navbar-nav li a {
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  padding: 15px 20px;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
  font-size: 14px;
  position: relative;
  line-height: 20px;
  display: block;
}

.navbar-default .navbar-nav li.active>a {
  padding-top: 11px;
  border-top: 4px solid rgba(255, 255, 255, 0.9);
  color: #fff;
  background-color: #0669a2;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

.navbar-default .navbar-nav li {
  position: relative;
  float: left;
}

.navbar-collapse .navbar-left {
  float: left;
}

.navbar-collapse .navbar-right {
  float: right;
  margin-right: -15px;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

#left-item-nav {
  position: fixed;
  top: 49px;
  bottom: 0;
  left: 0;
  border-top: 1px solid #0e151f;
  width: 155px;
  background-color: #293c55;
  overflow-y: hidden;
}

#left-item-nav li {
  height: 54px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0;
}

#left-item-nav li.active {
  background-color: #1b9de8;
}

#left-item-nav li:hover {
  background-color: #162436;
}

#left-item-nav li a {
  display: block;
  padding: 10px 15px;
  color: #ccc;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#left-item-nav li a .item-icon {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #999;
  background-position-x: -1px;
  background-position-y: -1px;
}

#left-item-nav li a .item-name {
  display: inline-block;
  position: relative;
  top: -12px;
  margin-left: 10px;
}
